

version: '2.1'
services:
 
  letsencrypt:
    image: cybergatelabs/letsencrypt
    container_name: letsencrypt
    hostname: letsencrypt
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${URL}
      - SUBDOMAINS=${SUBDOMAINS},
      - EXTRA_DOMAINS=${EXTRA_DOMAINS}
      - VALIDATION=${VALIDATION}
      - EMAIL=${EMAIL}
      - DHLEVEL=${DHLEVEL}
      - ONLY_SUBDOMAINS=${ONLY_SUBDOMAINS}
      - STAGING=${STAGING}
      
    networks:
      cybererp-$customer:
        aliases:
          - letsencrypt 
          
    volumes:
     - ./letsencrypt/config:/config 
    ports:
      - 443:443
      - 80:80 #optional
    restart: always
    
  postgresql_$customer:
    image: 'bitnami/postgresql:11'
    container_name: postgresql_$customer
    hostname: postgresql_$customer
    volumes:
      - './postgresql_$customer_data:/bitnami/postgresql'
    networks:
      cybererp-$customer:
        aliases:
          - postgresql_$customer
    environment:
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_DATABASE=postgres
      - POSTGRESQL_USER=postgres
      
    restart: always
    
  odoo_$customer:
    image: 'cybergatelabs/odoo13'
    container_name: odoo_$customer
    hostname: odoo_$customer
    volumes:  
      - './odoo_data/$customer:/bitnami'
      - './custom-addons/$customer/:/bitnami/odoo/addons/'
      - './custom-addons/$customer-uploads/:/bitnami/odoo/addons-uploads'
    environment:
      - ODOO_EMAIL=${ODOO_EMAIL}
      - ODOO_PASSWORD=${ODOO_PASSWORD}
      - POSTGRESQL_USER=postgres
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_HOST=postgresql_$customer
      - POSTGRESQL_PORT_NUMBER=5432
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=465
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_PROTOCOL=ssl
    networks:    
      cybererp-$customer:
        aliases:
         - odoo_$customer
    depends_on:
      - postgresql_$customer
    restart: always 
    
  pgadmin:
    image: adminer
    container_name: pgadmin
    hostname: pgadmin
    restart: always
    #ports:
    #  - 8080:8080
    # depends_on:
    #  - postgresql
    networks:
      cybererp-$customer:
        aliases:
          - pgadmin
          
  portainer:
    image: portainer/portainer
    container_name: portainer
    hostname: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./conf/portainer:/data
    restart: always
    networks:
      cybererp-$customer:
        aliases:
         - portainer
         
  duplicati:
    image: linuxserver/duplicati
    container_name: duplicati
    hostname: duplicati
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - CLI_ARGS= #optional
    volumes:
      - ./config/dupicati:/config
      - /opt/backup/duplicati:/backups
      - ./:/source
    ports:
      - 8200:8200
    restart: always
    networks:
      cybererp-$customer:
        aliases:
         - duplicati
          
   
volumes:
  postgresql_data:
    driver: local
  odoo_data: 
    driver: local
    
networks:
  cybererp-$customer:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-$customer
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 172.26.1.0/24          
