version: '2.1'
services:
 
  letsencrypt:
    image: cybergatelabs/letsencrypt
    container_name: letsencrypt
    hostname: letsencrypt
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${URL}
      - SUBDOMAINS=${SUBDOMAINS},
      - EXTRA_DOMAINS=${EXTRA_DOMAINS}
      - VALIDATION=${VALIDATION}
      - EMAIL=${EMAIL}
      - DHLEVEL=${DHLEVEL}
      - ONLY_SUBDOMAINS=${ONLY_SUBDOMAINS}
      - STAGING=${STAGING}
      
    networks:
      cybererp-network1:
        aliases:
          - letsencrypt 
          
    volumes:
     - ./letsencrypt/config:/config 
    ports:
      - 443:443
      - 80:80 #optional
    restart: always
    
  postgresql_1:
    image: 'bitnami/postgresql:11'
    container_name: postgresql_1
    hostname: postgresql_1
    volumes:
      - './postgresql_1_data:/bitnami/postgresql'
    networks:
      cybererp-network1:
        aliases:
          - postgresql_1
    environment:
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_DATABASE=postgres
      - POSTGRESQL_USER=postgres
      
    restart: always
     
